<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.derek_s.hubble_gallery">

  <application
    android:name=".base.HubbleApplicationRelease"
    tools:replace="name">

  </application>

</manifest>
