<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.derek_s.hubble_gallery"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:name=".base.HubbleApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name=".nav_drawer.ui.activities.ActMain"
      android:label="@string/hubble">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".nav_drawer.ui.activities.ActDetails"
      android:label="@string/title_activity_act_details"
      android:parentActivityName=".nav_drawer.ui.activities.ActMain">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".nav_drawer.ui.activities.ActMain"/>
    </activity>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="86709631566e2c951c17207f1f0c8f7fbd20ccfc"/>

    <activity
      android:name=".nav_drawer.ui.activities.ActWelcome"
      android:label="@string/title_activity_act_onboarding">
    </activity>
    <activity
      android:name=".nav_drawer.ui.activities.ActImageViewer"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:label="@string/title_activity_act_image_viewer"
      android:parentActivityName=".nav_drawer.ui.activities.ActDetails"
      android:theme="@style/FullscreenTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".nav_drawer.ui.activities.ActDetails"/>
    </activity>
  </application>

</manifest>
